<!-- navbar -->
<nav class="navbar">
    <img class="nav-logo" src="img/logo.PNG" alt="My store logo" />
    <ul class="nav-items">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="/admin-employee">Employee</a></li>
        <li><a href="/admin-grocery">Grocery</a></li>
        <li><a href="#">Invoice</a></li>
        <li><a href="/sign-out">Sign out</a></li>
        <span class="profile-logo">
            <a href="#"><i class="fas fa-user-circle fa-2x"></i></a>
        </span>
    </ul>
</nav>
<!-- navbar -->