<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Grocery Store</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">

    <!-- custom css -->
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div>
        <aside><img src="/img/404 error.png" alt="404 Image" />
        </aside>
        <div class="mid-bar"></div>
        <main>
            <h1>Sorry!</h1>
            <p>
                Page not Found<em>. . . Go back to Home page of Organic Grocery system .</em>
            </p>
            <button> <a href="/home">Go to Home</a></button>
        </main>
    </div>
</body>

</html>