<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- custorm css -->
    <link rel="stylesheet" href="css/admin.css" />

    <!-- Bootstrap CDN 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet" />

    <title>Organic Grocery Store</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar">
        <img class="nav-logo" src="img/logo.PNG" alt="My store logo" />
        <ul class="nav-items">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="/admin-employee">Employee</a></li>
            <li><a href="/admin-grocery">Grocery</a></li>
            <li><a href="#">Invoice</a></li>
            <li><a href="/sign-out">Sign out</a></li>
            <span class="profile-logo">
                <a href="#"><i class="fas fa-user-circle fa-2x"></i></a>
            </span>
        </ul>
    </nav>
    <!-- navbar -->
    <!-- Main top Container -->
    <div class="top-container">
        <div class="img-container">
            <img src="img/organic-products-hero.png" alt="Main image" />
        </div>
        <div class="text-container">
            <div>
                <img src="img/logo-leaf-new.png" alt="leaf logo" />
            </div>
            <h3>Best quality product</h3>
            <h1>Join The Organic Movement!</h1>
            <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien.
            </p>
        </div>
    </div>
    <!-- Main top Container -->
    <div>
        <h1 class="heading-h1">Few Qty Products</h1>

        <table class="empTable table table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Exp. Date</th>
                    <th scope="col">Mfd. Date</th>
                    <th scope="col">Qty.</th>
                    <th scope="col">Cost Price</th>
                    <th scope="col">Selling Price</th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Patanjali Cow Desi Ghee</td>
                    <td>12/2023</td>
                    <td>3/2021</td>
                    <td>100</td>
                    <td>415</td>
                    <td>520</td>

                </tr>
                <tr>
                    <td>002</td>
                    <td>Patanjali Atta 10KG</td>
                    <td>6/2022</td>
                    <td>4/2021</td>
                    <td>100</td>
                    <td>430</td>
                    <td>545</td>

                </tr>
                <tr>
                    <td>003</td>
                    <td>Patanjali Paste 100g</td>
                    <td>6/2022</td>
                    <td>4/2021</td>
                    <td>100</td>
                    <td>23</td>
                    <td>40</td>

                </tr>
            </tbody>
        </table>

    </div>
</body>

</html>