<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <!-- Bootstrap CDN 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />

    <link rel="stylesheet" href="css/login.css" />
  </head>

  <body>
    <header>
      <form action="/" method="post">
        <div class="main-header">
          <h1>login</h1>
          <hr class="hr" />
          <h3>Welcome to Smart Grocery Management</h3>
          <p>
            <input class="input" type="text" name="uname" id="uname" placeholder="Username" autocomplete="off" required autofocus />
          </p>
          <p>
            <input class="input" type="password" name="pass" id="pass" placeholder="Password" required />
          </p>
          <p><input class="showpassBox" type="checkbox" name="showpass" id="showpass" onclick="isPassVisible()" />Show Password</p>
          <!-- Drop down -->
          <p class="dropdown">
            <label for="login">Login for:</label>

            <select id="login" class="options" name="dropBox" required>
              <option value="" selected disabled hidden>Select</option>
              <option value="admin">Admin</option>
              <option value="employee">Employee</option>
            </select>
          </p>
          <!-- Drop down -->
          <!-- Display Error -->
          <% if(errors.length> 0) {%> <% errors.forEach(error=> { %>
          <div class="alert alert-danger alert-dismissible fade show errors-div" role="alert">
            <%= error.text %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% }) %> <% } %>
          <!-- Display Error -->
          <p><button class="btn-sign-in" type="submit">Sign in</button></p>
        </div>
      </form>
    </header>

    <!-- JavaScript -->
    <script type="text/javascript">
      // Show password Checkbox function
      function isPassVisible() {
        var showPassword = document.getElementById("pass");
        if (showPassword.type == "password") {
          showPassword.type = "text";
        } else {
          showPassword.type = "password";
        }
      }
    </script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
